# Data
data/Creative Assets_
data/briefing.csv
data/campaigns_inventory_updated.csv
data/global_design_data.json
data/Creative Assets_.zip
data/global_design_data.csv

# logs and checkpoints
notebooks/.ipynb_checkpoints/
dags/__pycache__/
logs/*